.simulador-container {
  max-width: 720px;
  margin: 0 auto;
  padding: 24;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 4px 16px 32px rgba (0, 0, 0, 0.1);
}

body {
  background-color: #ffffff;
  color: #363636;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin: 24px;
}

/* Fazer com que números usem a fonte Lato e não Raleway */
body *:is(p, span, div, h1, h2, h3, h4, h5, h6) {
  font-family: 'Lato', sans-serif;
}

h1 {
  color: #db3d2d;
  font-size: 40px;
  line-height: 48px;
  font-weight: bold;
}

h2 {
  color: #26538e;
  font-size: 24px;
  line-height: 32px;
}

h3 {
  color: #51aaee;
  font-size: 20px;
  line-height: 28px;
}

label {
  display: block;
  margin: 16px 0;
  line-height: 24px;
  font-weight: 400;
  font-size:16px;
}

input[type="number"], select, button {
  height: 48px;
  line-height: 24px;
  padding: 12px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #8e92ae;
  border-radius: 8px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  transition: background-color 0.2s, border-color 0.2s;
  margin-top: 24px;
  /* Distance between input and label */
}

input[type="number"]:hover {
  background-color: #f5f6fa;
}

input[type="number"]:active {
  background-color: #e7e8f0;
}

input[type="number"]:focus {
  outline: 2px;
  border-color: #6ba7ed;
  background-color: white;
  border-width: 2px;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #8e92ae;
  border-radius: 8px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  transition: background-color 0.2s, border-color 0.2s;
  margin-top: 4px;
  /* Distance between select box and label */
  background-color: white;
  /* Default background for select */
  appearance: none;
  /* Remove default dropdown styling */
}

select:hover {
  background-color: #f5f6fa;
}

select:active {
  background-color: #e7e8f0;
}

select:focus {
  outline: none;
  border-color: #6ba7ed;
  border-width: 2px;
  background-color: white;
}

select option[disabled] {
  color: #b0b0b0;
  /* Gray out the disabled options */
  font-style: italic;
}


.valor {
  font-family: 'Lato', monospace;
}

.segmented-button {
  display: flex;
  margin: 12px 0;
  height: 48px;
  box-shadow: 
  0px 2px 4px -2px rgba (0, 0, 0, 0.08),
  0px 4px 8px -2px rgba (0, 0, 0, 0.04);
}

.segmented-button input[type="radio"] {
  display: none;
}

.segmented-button label {
  flex: 1;
  padding: 0;  /* Remove extra padding since height is fixed */
  height: 100%;  /* Use full height of the segmented button */
  line-height: 48px;  /* Vertically align the text */
  background-color: #26538e;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ffffff;
  font-weight: 400;
}

.segmented-button input[type="radio"]:checked+label {
  background-color: #51aaee;
}

/* Style for the input range slider */
input[type="range"] {
  -webkit-appearance: none;
  /* Remove default styling in Webkit browsers */
  width: 100%;
  height: 8px;
  /* Height of the slider track */
  background-color: #e7e8f0;
  /* Unfilled track color */
  border-radius: 4px;
  /* Rounded corners for the slider track */
  outline: none;
  margin-top: 4px;
  transition: background-color 0.3s ease;
}

/* Custom track styling */
input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  background: linear-gradient(to right, #35518d 0%, #35518d var(--range-percent), #e7e8f0 var(--range-percent), #e7e8f0 100%);
  border-radius: 4px;
}

input[type="range"]::-moz-range-track {
  height: 8px;
  background-color: #e7e8f0;
  border-radius: 4px;
}

input[type="range"]::-ms-track {
  height: 8px;
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-moz-range-progress {
  background-color: #35518d;
  /* Filled portion color */
}

input[type="range"]::-ms-fill-lower {
  background-color: #35518d;
  /* Filled portion color */
}

/* Thumb (handler) styling */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  /* Updated thumb size */
  height: 24px;
  /* Updated thumb size */
  background-color: #ffffff;
  /* Color of the thumb */
  border: 2px solid #6ba7ed;
  /* Stroke/outline around the thumb */
  border-radius: 50%;
  /* Make the thumb circular */
  cursor: pointer;
  margin-top: -8px;
  /* Center the thumb vertically with the track */
}

input[type="range"]::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border: 2px solid #6ba7ed;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border: 2px solid #6ba7ed;
  border-radius: 50%;
  cursor: pointer;
}

/* Dynamic fill for Webkit browsers */
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #35518d 0%, #35518d var(--range-percent), #e7e8f0 var(--range-percent), #e7e8f0 100%);
}

#simular {
  width: 100%;
  height: 48px;
  line-height: 24px;
  background-color: #35518d;
  color: #ffffff;
  padding: 12px 12px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  box-shadow:
      0px 2px 4px -2px rgba (0, 0, 0, 0.8),
      0px 4px 8px -2px rgba (0, 0, 0, 0.4);
}

#simular:hover {
  background-color: #6ba7ed;
}

#resultados {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #26538e;
}

#resultados h3 {
  color: #db3d2d;
}

#numDependentes {
  font-weight: bold;
}

.resultados-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  box-sizing: border-box;
}

.label-indent {
  margin-left: 40px;
}

.resultado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 24px;
}

.resultados-texto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  /* Added gap for consistent spacing */
}

.resultados-texto p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resultados-texto .label {
  flex: 1;
  text-align: left;
}

.resultados-texto .valor {
  text-align: right;
  font-family: 'Lato', sans-serif;
}

.dot {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 16px;
}

.dot-salario-liquido {
  background-color: #26538e;
}

.dot-segurança-social {
  background-color: #ff6b6b;
}

.dot-irs {
  background-color: #db3d2d;
}

.dot-salario-liquido-il {
  background-color:#51aaee;
}

.graficos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#graficoAnual, #graficoMensal {
  height: 120px !important;
}

#graficoAnualLiberal, #graficoMensalLiberal {
  height: 90px !important;
}

canvas {
  width: 100% !important;
  height: auto !important;
  max-height: 120px;
  /* Adjust height to fit the bars */
}

@media screen and (max-width: 1280px) {
  .simulador-container {
    max-width: 100%;
    padding: 120px;
  }
}

@media screen and (min-width: 768px) {
  #simular {
    width: auto;
    min-width: 364px;
    margin: 24px auto;
    display: block;
  }
}

@media screen and (max-width: 720px) {
  .resultado {
    flex: 1 1 100%;
    margin: 10px 0;
  }

  .simulador-container {
    max-width: 100%;
    padding: 16px;
  }
}

@media screen and (max-width: 480px) {
  .simulador-container {
    padding: 24px 32px;
}

@media screen and (max-width: 480px) {
  #resultados {
    overflow-x: auto;
  }
}

@media screen and (max-width: 480px) {
  input, select, button {
    width:100%;
    font-size:
    margin-bottom: 24px;
  }
}

